node_modules/
.next/
out/
dist/
.env
.env.local
pnpm-debug.log*
public/media/*
!public/media/.gitkeep
public/search/*
!public/search/.gitkeep
src/generated/
docs
og-auto.*
public/og-auto.*
.agent/
.agents/
tsconfig.tsbuildinfo